.App {
	text-align: center;
	margin-bottom: 3em;
  height: 100%;
}

#header {
	background-color: #e0e0e0;
	text-align: center;
	height: 100px;
	font-weight: bold;
	font-size: 3em;
	justify-content:center;
    align-items: center;
    display: flex;
    border-bottom: 1px solid;
}

.UNFUCKBLS {
	text-align: center;
	margin-bottom: 3em;
}

body {
  height: 100%;
}

html {
  height: 100%;
}

.GameOptions {

}

#root {
  height: 100%
}

.App-header {
  height: 100%
}

#root {
  height: 100%
}

.Lobby {
  height: 100%
}

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

/* Hide default HTML checkbox */
.switch input {display:none;}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #2196F3;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #ccc;
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

ol {
	list-style-type: none;
}

.CategoryContainer {
	margin-top: 20px;
	margin-left: 25%;
	margin-right: 25%;
	border: black solid 1px;
}

.categoryTitle {
	font-size: 2em;
	border: black solid 1px;
}

.griditem {
	border: black solid 1px;
}

#startbutton {
	margin-top: 100px;
}

.testgrid {
  position: relative;
  display: inline-block;
  width: 100%;
  height: 100%;
}


/* Hide default HTML checkbox */
.testgrid input {display:none;}


.testgrid input:checked{
  background-color: #2196F3;
}

input:focus{
  box-shadow: 0 0 1px #2196F3;
}

.TeamSetup{
	width: 90%;
	background-color: beige;
	height: 500px;
	margin: 5%;
}

.Team {
		list-style-type: none;
    width: 19%;
		margin-left: 3%;
		margin-right: 3%;
    background-color: #eee;
    display: inline-block;
		height: 400px;
		padding: 0;
		font-size: 2em;
		margin-top: 50px;
		vertical-align: middle;
}

.TeamList {
		list-style-type: none;
		padding: 0;
}

.AddTeam {
		list-style-type: none;
    width: 19%;
		margin-left: 3%;
		margin-right: 3%;
    background-color: #eee;
    display: inline-block;
		height: 60px;
		padding: 0;
		font-size: 2em;
}

.TeamMember{
	margin-bottom: 10px;
}

.Lobby{
	margin-top: 20px;
}

.LobbyGreet{
	font-size: 2em;
}

#lobbyCatGrid{
	margin-top: 10px;
}

.gameLink{
	margin-top: 10px;
}

.NameInput{
	margin-top: 10px;
	margin-bottom: 10px;
}
